extends base
block append head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/styleCrud.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
mixin tourRecord(tour, value)
    tr
        td#idTour.tour()=`${tour._id}`
         - const name= `${tour.slug}`
        td#tourName
            input(value=`${tour.name}` tourName=`${tour.name}`)
        td=`${tour.ratingAverage}`
        td#tourMaxGroupSize
            input(value=`${tour.maxGroupSize}` maxGroupSize=`${tour.maxGroupSize}`)
        td#tourPrice
            input(value=`${tour.price}` price=`${tour.price}`)
        td
            a.edit(href=`/modifyTour/${tour._id}/${name}/#{tourMaxGroupSize}/#{tourPrice}/` data-toggle='modal')
                i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
            a.delete(href=`/deleteTour/${tour._id}/` data-toggle='modal' idToDelete=`${tour._id}`)
                i.material-icons.iconDelete(data-toggle='tooltip' title='Delete' idToDelete=`${tour._id}`) &#xE872;

block content
    main.main
        .container
            .table-responsive
                .table-wrapper
                    .table-title
                        .row
                            .col-xs-6
                                h2
                                    | Manage 
                                    b Tours
                            .col-xs-6
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th Tour Id
                                th Name
                                th RatingAverage
                                th Group Size
                                th Price
                                th Actions
                        tbody
                            section.section-tours
                                each tour in tours 
                                    +tourRecord(tour)

        //- // Edit Modal HTML
        //- #editEmployeeModal.modal.fade
        //-     .modal-dialog
        //-         .modal-content
        //-             form
        //-                 .modal-header
        //-                     h4.modal-title Edit User
        //-                     button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        //-                 .modal-body
        //-                     .form-group
        //-                         label Name
        //-                         input.form-control(type='text' required='')
        //-                     .form-group
        //-                         label Email
        //-                         input.form-control(type='email' required='')
        //-                 .modal-footer
        //-                     input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
        //-                     input.btn.btn-info(type='submit' value='Save')
