extends base
block append head
	meta(name='viewport' content='width=device-width, initial-scale=1')
	link(rel='stylesheet' href='/css/styleCrud.css')
	link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
mixin userRecord(user, value)
	tr
		td#idUser.usr(value =`${user._id}`)=`${user._id}`
		td=`${user.name}`
		td=`${user.email}`
		td=`${user.active}`
		td=`${user.role}`
		td
			a#changeRoleButton(href=`/changeUserRole/${user._id}/${user.role}` data-toggle='modal' userRole=`${user.role}` userId=`${user._id}`)
				i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;

block content
	main.main
		.container
			.table-responsive
				.table-wrapper
					.table-title
						.row
							.col-xs-6
								h2
									| Manage 
									b Users
							.col-xs-6
					table.table.table-striped.table-hover
						thead
							tr
								th UserId
								th Name
								th Email
								th Status
								th Role
								th Change role
						tbody
							section.section-users
								each user in users 
									+userRecord(user)

		// Edit Modal HTML
		#editEmployeeModal.modal.fade
			.modal-dialog
				.modal-content
					form
						.modal-header
							h4.modal-title Edit User
							button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
						.modal-body
							.form-group
								label Name
								input.form-control(type='text' required='')
							.form-group
								label Email
								input.form-control(type='email' required='')
						.modal-footer
							input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
							input.btn.btn-info(type='submit' value='Save')
		